body{
  /*background-image: url("img/bg.jpg");
  background-repeat: repeat-y;
  background-position: center;*/
}

.container{
  border : red 5px solid;
  background-image: url("img/full.jpg");
  background-repeat: repeat-y;
  background-size: contain;
  color: #FFF;
  font-family: Arial;
}

.footer_paragraph{
  border-left: 5px solid yellow;
  font-size: 12px;
}


.fondrose{
  /*background-image: url("img/full.jpg");*/
  /*background-repeat: repeat-y;
  background-position: center;*/
  border : pink 3px solid;
  /*height: 100%;*/
}


.middle{
  /*background-image: url("img/middle.jpg");
  background-repeat: no-repeat;
  height: 1000px;
  background-position: left;*/
  /*background-size: cover;*/
  /*background-repeat: repeat-y;*/
  /*background-position: center;*/
  /*border : blue 3px solid;*/
}

.title{
  background-image: url("img/title.jpg");
  /*height: 300px;*/
  background-repeat: no-repeat;
  border : green 5px solid;
  background-size: contain;
  background-position: right;
  width: 200px;
}

h2.fat{
  border-top: 3px yellow solid;
  font-weight: 900;
}


.couleur h4 {
  background-color: yellow;
  color: black;
}
h4.fat{
  font-weight: 900;
}

.cssgras{
  font-weight: bold;
}

.cssjaune{
  color:yellow;
}

.cssitalique{
  font-style: italic;
}

p{
  text-align: justify;
}

#pucelosange li{

  display : list-item;
  list-style-image : url(img/bullet.gif);
}

#imggauche{
  float: left;
  margin-right: 10px;
}

#imgdroite{
  float: right;
  margin-left: 10px;
}
