/*@media screen and (max-width: 992px) {

  p {
      font-size: 12px;
      text-align: justify;
      text-align-last: center;
      padding: 20px 10px 20px 10px;
  }

  .social {
      height: 30px;
      width: 30px;
  }
}*/
