body {
        color: #262626;
        font-family: circular, sans-serif;
    }
    /*Styles textes*/

    h1 {
        font-size: 48px;
        color: #262626;
        font-weight: lighter;
    }

    h2 {
        font-size: 18px;
        padding: 20px 0px 18px 0px;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
    }

    ul {
        list-style: none;
    }

    p {
        font-size: 12px;
        text-align: justify;
        padding: 20px 10px 20px 10px;
    }

    .price {
        font-weight: bold;
    }

    .soustitretof {
        text-align: center;
    }

    .boldtitre {
        color: green;
        font-weight: bold;
    }

    #text-color a {
        color: #262626;
    }
    /*style images*/

    img {
        display: block;
        margin: auto;
        border: white solid 5px;
    }

    .img3 {
        height: 233px;
        width: 350px;
    }

    .img4 {
        height: 387px;
        width: 259px;
    }

    .glyphicon.glyphicon-arrow-right {
        font-size: 30px;
    }

    .col-xs-1.fleche {
        margin-right: 25px;
    }
    /*scrollable-menu raccourci la taille du menu et le rend scrollable.*/

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }

    .inline ul li {
        display: inline;
        list-style: none;
    }

    .centre {
        margin-top: 20px;
    }
    /*Style form*/

    .borderz {
        border-style: solid;
        border-color: #BDBDBD;
        border-width: 1px;
        box-shadow: -1px 2px 3px 0px lightgrey;
    }

    .resa {
        float: left;
        margin-top: 10px;
        margin-left: 5px;
    }

    .form-control {
        border: 0;
        box-shadow: none;
        border-bottom: solid green 1px;
        margin-bottom: 5px;
    }
    /*Style pictos / elements graphiques*/

    .ligne {
        height: 1px;
        background-color: lightgrey;
        margin-bottom: 50px;
    }

    .social {
        height: 30px;
        width: 30px;
        margin-top: 30px;
    }
    /*Style other*/

    .fond {
        background-color: white;
    }

    .place {
        padding-top: 69px;
    }
    /*#fix {
    width: 500px;*/
}
.stick {
    width: 30%;
    /*#fakefooter {
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;*/
}
#searchbar {
    display: none;
}
#size {
    width: 50vw;
}
